<h1> Welcome to Rock Paper Scissors </h1>
<form action="/result">
  <div class ="form-group">
    <label for ="playeronechoice"> Player One Choice?</label>
      <input id="playeronechoice" name="playeronechoice" class="form-control" type="password">
  <!-- </div>
  <div class ="form-group"> -->
    <label for ="playertwochoice"> Player Two Choice?</label>
      <input id="playertwochoice" name="playertwochoice" class="form-control" type="password">
  </div>
  <button type="submit" class="btn-success"> Send</button>
</form>
